header, footer {
    background-color: #343a40;
}

.nav-color {
    color: rgba(255, 255, 255, 0.5)
}

.ml-auto {
    flex-direction: row-reverse !important;
}

.avatar {
    max-width: 20px;
}

.dropdown {
    margin-left: 3%;
}

.navbar-text {
    text-decoration: none;
}

.last-button {
    margin-bottom: 67px;
}
